/* ==== 
RGB: 74B974 (claro) , 328F32 (oscuro) ,53A553 (medio) , 98CC98 , B8DAB8 (muy claros)
==== */

/* ==== Global ==== */

body {
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    font-size: 16px;
}

img {
    max-width: 100%;
}

/* ==== Navbar ==== */

.navbar {
    background: #53A553;
    margin-bottom: 0;
    border: 0;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #98CC98;
}

.navbar-default .navbar-brand , .navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand , .navbar-default .navbar-nav>li>a:hover {
    color: #98CC98;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


/* ==== Feature Section ==== */

.feature {
    position: relative;
}

.feature img {
    width: 100%;
}

.feature-text {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 0;
}

.feature-text:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.feature-text p {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: center;
    font-size: 76px;
    color: white;
    background: rgba(11, 66, 11 ,0.2);
    border-radius: 10px;
    padding: 3%;  
}


/*info--------------------------------------------*/

#info  {
    margin-top: 150px;
    padding-bottom: 150px;
    font-size: 150%;
}

em {
    font-weight: bold;
}


#menu-hover {
    padding-top: 90px;
    text-align: center;
    background: url('img/burguer.jpg') no-repeat center center fixed;
    height: 300px;
    color: white;
     text-shadow: -1px 0 #5e6601, 0 1px #5e6601, 1px 0 #5e6601, 0 -1px #5e6601;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 2px solid #328F32;
    border-top: 2px solid #328F32;
}


#social {
    background: url('img/pizza.jpg') no-repeat center center fixed ;
    height: 300px;
    color: white;
     text-shadow: -1px 0 #5e6601, 0 1px #5e6601, 1px 0 #5e6601, 0 -1px #5e6601;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 2px solid #328F32;
     border-top: 2px solid #328F32;
    margin-bottom: 100px;
}


/*

#hidden2 {
    display: none;
    margin-top: 115px;
}
*/

ul.nonav {
    font-size: 150%;
    text-align: center;
    list-style-type: none;
    padding-bottom: 100px;
}
/*

a#menu {
   
    margin-top: 20px;
    
    
}
*/

/* Social ------------------------------------------*/

#social {
    min-height: 500px;
     background: url('img/burguer.jpg') no-repeat center center fixed ;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 150px;
    max-width: 100%;
    margin-bottom: -25px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    vertical-align: top;

}

/*
#hidden3 {
    display: none;
}
*/

/*
.fa {
    color: white;
    padding: 10px;
    font-size: 100%;
    width: 60px;
    text-align: center;
    text-decoration: none;
   
}
*/


#social1:hover {
    font-size: 250%;
    transition:font-size 1s;
     -moz-transition:font-size 1s;
     -webkit-transition:font-size 1s; 
     -o-transition:font-size 1s;
    text-decoration: none;
    color: #5e6601;
}

#social1:active {
    text-decoration: none;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

#social2:hover {
     font-size: 250%;
    transition:font-size 1s;
     -moz-transition:font-size 1s;
     -webkit-transition:font-size 1s; 
     -o-transition:font-size 1s;
    text-decoration: none;
    color: #5e6601;
}

#social2:active {
    text-decoration: none;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

/*footer--------------------------------------------*/

footer {
    color: #5e6601;
    margin-top: 2px solid black;
    text-align: center;
    padding-top: 20px;
}

#socialfooter1 {
    color: #5e6601;
}

#socialfooter2 {
    color: #5e6601;
}

#socialfooter1:active {
    text-decoration: none;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

#socialfooter2:active {
    text-decoration: none;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

#socialfooter1:hover {
    text-decoration: none;
}

#socialfooter2:hover {
    text-decoration: none;
}

.footer-copyright {
    background-color: #328F32;
    color: white;
    display: inline-block;
}

.footer-copyright a {
    color: #98CC98;
}

.footer-copyright a:hover {
    text-decoration: none; 
    color: #B8DAB8;
}

/* ==== Mobile Styling ==== */


@media screen and (max-width : 1208px) {
   
    li a {
        text-align: center;
    }
    
    .feature-text p {
        font-size: 48px;
    } 
}

@media screen and (max-width : 500px) {
   
    li a {
        text-align: center;
    }
    
    .feature-text p {
        font-size: 25px;
    } 
}

@media screen and (max-width : 300px) {
   
    li a {
        text-align: center;
    }
    
    .feature-text p {
        font-size: 15px;
    } 
}